<div id="<%= dom_id person %>">
  <p>
    <strong>First name:</strong>
    <%= person.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= person.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= person.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= person.twitter %>
  </p>

</div>
